In [1]:
import pandas as pd
import numpy as np

DATA_PATH = './datasets/'

# Movie Summaries Tables overview

In [2]:
MOVIE_DATASET_PATH = DATA_PATH + 'MovieSummaries/'
char_datapath = MOVIE_DATASET_PATH + 'character.metadata.tsv'
movie_metadata = MOVIE_DATASET_PATH + 'movie.metadata.tsv'
name_clusters = MOVIE_DATASET_PATH + 'name.clusters.txt'
plot_summaries = MOVIE_DATASET_PATH + 'plot_summaries.txt'
tvtropes_clusters = MOVIE_DATASET_PATH + 'tvtropes.clusters.txt'

## Import the movies metadata

In [3]:
col_names = names=['Wikipedia_movie_ID','Freebase_move_ID',
                   'Movie_name','Movie_release_date','Movie_box_office_revenue',
                   'Movie_runtime','Movie_languages','Movie_countries','Movie_genres']


movie_metadata_df = pd.read_csv(movie_metadata,header=None,sep='\t',
                                names=col_names) 
movie_metadata_df.head()

,Wikipedia_movie_ID,Freebase_move_ID,Movie_name,Movie_release_date,Movie_box_office_revenue,Movie_runtime,Movie_languages,Movie_countries,Movie_genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

## Import the characters metadata

In [4]:
char_col_names= ['Wikipedia_movie_ID','Freebase_move_ID', 'movie_release_date',
                   'Character_name','Actor_DOB','Actor_gender',
                   'Actor_height','Actor_ethnicity','Actor_name',
                   'Actor_age_release','Freebase_character_map',
                   'Freebase_character_map2','Freebase_character_map3']

char_metadata_df = pd.read_csv(char_datapath,header=None,sep='\t',names=char_col_names)

## Import the summaries

In [5]:
plot_summaries_df = pd.read_csv(plot_summaries, sep = '\t', header=None,names=['Movie_ID','Summary'],index_col='Movie_ID')
plot_summaries_df['Summary'].head()

Movie_ID
23890098    Shlykov, a hard-working taxi driver and Lyosha...
31186339    The nation of Panem consists of a wealthy Capi...
20663735    Poovalli Induchoodan  is sentenced for six yea...
2231378     The Lemon Drop Kid , a New York City swindler,...
595909      Seventh-day Adventist Church pastor Michael Ch...
Name: Summary, dtype: object

## import the name clusters

In [6]:
name_clusters_df = pd.read_csv(name_clusters,sep='\t',names=['Character','Freebase_ID'], header=None)
name_clusters_df.head()

       Character Freebase_ID
0  Stuart Little   /m/0k3w9c
1  Stuart Little   /m/0k3wcx
2  Stuart Little   /m/0k3wbn
3       John Doe   /m/0jyg35
4       John Doe   /m/0k2_zn

## Import tvtropes clusters

In [7]:
tvtropes_names = ['Persona_profile','char']

tvtropes_clusters_df = pd.read_csv(tvtropes_clusters,sep='\t',names=tvtropes_names)

tvtropes_clusters_df.head()

           Persona_profile                                               char
0  absent_minded_professor  {"char": "Professor Philip Brainard", "movie":...
1  absent_minded_professor  {"char": "Professor Keenbean", "movie": "Richi...
2  absent_minded_professor  {"char": "Dr. Reinhardt Lane", "movie": "The S...
3  absent_minded_professor  {"char": "Dr. Harold Medford", "movie": "Them!...
4  absent_minded_professor  {"char": "Daniel Jackson", "movie": "Stargate"...